* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Archivo', sans-serif;;
}

:root{
    --bg-color:white;
    --second-bg-color:black;
    --text-color:black;
    --main-color:grey;
}